@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Commissioner:300,regular,500,600,700);
/* Обнулення */
@import url(https://fonts.googleapis.com/css?family=Commissioner:100,200,300,regular,500,600,700,800,900);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: 'Commissioner';
  font-size: 24px;
  color: #000;
  background: #FFF;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0px 15px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* PC */
@media (max-width: 1230px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

/* Tablet */
@media (max-width: 991px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

/* Tablet */
@media (max-width: 767px) {
  [class*="__container"] {
    max-width: none;
  }
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 108px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__logo {
  position: relative;
  z-index: 2;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__contacts_icon {
  width: 40px;
  height: 40px;
}

.header__contacts_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-left: 10px;
  color: #000;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 257px 0px 100px;
}

.menu__item {
  margin: 0px 40px 0px 0px;
}

.menu__link {
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.menu__link:hover {
  text-decoration: underline;
}

.kemenger {
  padding: 100px 0px 65px 0px;
}

.kemenger__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
}

.kemenger__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 666px;
          flex: 0 1 666px;
  padding: 156px 0px 0px 0px;
}

.kemenger__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 565px;
          flex: 0 1 565px;
  width: 565px;
}

.kemenger__block-text {
  width: 665px;
}

.block-text__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
}

.block-text__title span {
  color: #018FA3;
}

.block-text__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding: 44px 0px;
  color: #000;
}

.block-text__button {
  width: 244px;
  height: 64px;
  font-size: 20px;
  line-height: 24px;
  padding: 19px 43px;
  background-color: #FAE01A;
  -webkit-box-shadow: 0px 20px 40px -27px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 20px 40px -27px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.block-text__button:hover, .block-text__button:focus {
  background-color: #dfd695;
}

.button {
  display: inline-block;
  font-weight: 500;
  color: #000;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.media-kemenger {
  position: relative;
  width: 565px;
}

.media-kemenger__image {
  display: inline-block;
}

.media-kemenger__image img {
  display: block;
}

.media-kemenger__image_1 {
  position: absolute;
  top: 0;
  right: 0;
}

.media-kemenger__image_2 {
  position: absolute;
  top: 0;
  right: 0;
}

.media-kemenger__image_3 {
  position: relative;
  right: -50px;
  z-index: 0;
}

.media-kemenger__image_3 img {
  height: 726px;
  width: 460px;
}

.media-kemenger__image_4 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.media-kemenger__image_5 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.media-kemenger__image_6 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.media-kemenger__image_7 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.media-kemenger__image_8 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.media-kemenger__image_9 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}
/*# sourceMappingURL=main.css.map */