.header {
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
    z-index: 2;
    &__container {
        display: flex;
        min-height: 108px;
        align-items: center;
    }
    &__menu {
        flex: 1 1 auto;
    }
    &__logo {
        position: relative;
        z-index: 2;
    }
    &__contacts{
        display: flex;
        justify-content: flex-end;

        &_icon{
            width: 40px;
            height: 40px;
        }

        &_phone{
            display: flex;
            align-items: center;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            margin-left: 10px;
            color: #000;
        }
    }
}

.menu {
    display: flex;
    justify-content: flex-end;

    &__list {
        display: flex;
        margin: 0px 257px 0px 100px;
    }

    &__item {
        margin: 0px 40px 0px 0px;
    }

    &__link {
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #000;
        
        &:hover{
            text-decoration: underline;
        }
    }
}