.kemenger {
    padding: 100px 0px 65px 0px;
}
.kemenger__container {
    display: flex;
    align-items: center;
    height: 880px;
}
.kemenger__content {
    flex: 0 1 60%;
}
.kemenger__media {
    flex: 0 1 40%;
}
.kemenger__block-text {
    max-width: 665px;
}
.block-text {
    
}
.block-text__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;

    span{
        color: #018FA3;
    }
}
.block-text__text {
    font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #000000;
}
.block-text__button {
}
.button {
}

.media-kemenger__image{
    display: inline-block;
    position: relative;
    

    img{
        position: relative;
        height: 880px;
        // width: 1072px;
        left: 0px;
        width: 100%;
    }
}